In [ ]:
#syntax of nested while loop

In [17]:
num=5
row=1
while row<=num:
    col=1
    while col<=row:
        print("*",end=" ")
        col=col+1
    print()
    row=row+1

*
* *
* * *
* * * *
* * * * *

In [13]:
num=5
row=1
s=1
while row<=num:
    col=1
    while col<=row:
        print(s,end=" ")
        col=col+1
        s=s+1
    print()
    row=row+1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [15]:
num=5
row=1
s=0
while row<=num:
    col=1
    while col<=row:
        print(col,end=" ")
        col=col+1
        s=s+1
    print()
    row=row+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [49]:
list1=[1,2,3,[2,3,2],32,13]
set1={"apple","thamarai","dhill"}
dic1={"name":"thamarai","age":21,"cource":"FSD"}
t1=tuple(list1)
print(t1)
t2=tuple(set1)
print(t2)
t3 = [(k, v) for k, v in dic1.items()]
print(t3)
print(t1[3][2])
print(t1[4])
print(t1[-1])
print(t2[2])
print(t2[-1])
print(t3[0])
print(t3[0][1])

(1, 2, 3, [2, 3, 2], 32, 13)
('apple', 'thamarai', 'dhill')
[('name', 'thamarai'), ('age', 21), ('cource', 'FSD')]
2
32
13
dhill
dhill
('name', 'thamarai')
thamarai

In [51]:
#wap to use list,set and dict in tuple and can we acesses the elements
s=("tuple1",["list 1","list 2","list 3"],{1:"n",2:"a"})
print("tuple element is",s[0])
print("list second element is",s[1][2])
print("element in dict",s[2][2])

tuple element is tuple1
list second element is list 3
element in dict a

In [55]:
t=(1,2,[3,4,5,6],{"apple",7,8},{"name":"ak",9:"gk"})
print(t[0])
print(t[0:4])
print(t[2][2])

1
(1, 2, [3, 4, 5, 6], {8, 'apple', 7})
5

In [56]:
t1=(1,2,3,5)
t2=(3,2,3,4)
print(t1+t2)

(1, 2, 3, 5, 3, 2, 3, 4)

In [67]:
#modifying the list inside the tuple
tuple1=([1,2,3],{"a":1})
a=tuple1[0].append(3)
tuple1[1]["b"]=2
print(tuple1)

([1, 2, 3, 3], {'a': 1, 'b': 2})