# loops

In [ ]:
1)For loop--->iterating the sequence or fixed number of times
2)while loop-->An unknown number times

In [ ]:
synatx:
    for elsement in iteratable:
        statements
                        (or)
            
    for i in range/sequence:
        statements1
        statements2

0
1
2
3
4
5
6
7
8
9
10

90
92
94
96
98

In [ ]:
#range
it is going to generate the list of numbers within a given number
1)range(stop)
2)range(start,stop)
3)range(start,stop,step)

In [3]:
#range(stop)
range(100)

range(0, 100)

In [4]:
range(8,100,2)

range(8, 100, 2)

In [2]:
range(8,100)

range(8, 100)

In [ ]:
#Print first 10 numbers using a for loop
l=[0,1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i)

In [ ]:
for num in range(90,100,2):
    print(num)

In [10]:
s="akshatha"
for i in s:
    print(i)

a
k
s
h
a
t
h
a

In [12]:
s=["apple","manago","graphes"]
for i in s:
    print(s)
    for j in i:
        print(j)

['apple', 'manago', 'graphes']
a
p
p
l
e
['apple', 'manago', 'graphes']
m
a
n
a
g
o
['apple', 'manago', 'graphes']
g
r
a
p
h
e
s

In [18]:
#print sum of all even numbers from 10 to 20
sum=0
l=[10,11,12,13,14,15,16,17,18,19,20]
for i in l:
    if i%2==0:
        print(i)
    else:
        continue
    sum=sum+i
print(f"the sum of all the number is",sum)

10
12
14
16
18
20
the sum of all the number is 90

In [17]:
sum=0
for i in range(10,21,2):
    sum=sum+i
    print(i)
print(f"the sum of all the number is",sum)

10
12
14
16
18
20
the sum of all the number is 90

In [24]:
#perform the square of all numbers in the list
numbers=[1,2,3,4,5]
for i in numbers:
    square=i*i
    print("square of:",i,"is:",square)

square of: 1 is: 1
square of: 2 is: 4
square of: 3 is: 9
square of: 4 is: 16
square of: 5 is: 25

In [ ]:
#what use of for loop?
-->definate iteration
-->reduce the code complexity
-->loop through sequence

In [25]:
#calculate the average of the list
num=[10,20,30,40,50]
sum=0
for i in num:
    sum=sum+i
print(sum)
list_size=len(num)
average=sum/list_size
print(average)

150
30.0

In [26]:
#else part in for loop
l=[1,2,3,4,5]
for i in l:
    print(i)
else:
    print("the squence has ended")

1
2
3
4
5
the squence has ended

In [ ]:
loop control statements
1)break
2)continue
3)pass

In [28]:
#break the loop if number a number is greater than 15
l=[1,4,7,9,15,20,8]
for i in l:
    if i>=15:
        break
    else:
        print(i)

1
4
7
9

In [29]:
l=[1,4,7,9,15,20,6,8]
for i in l:
    if i>=15:
        continue
    else:
        print(i)

1
4
7
9
6
8

In [33]:
s="sfxcgvhbjnkm,xfcgvh"
for i in j:
    pass

In [ ]:
#Reversed for loop
-- reverse for loop using range
--reverse for loop using the revered function

In [34]:
#reversed
l1=[10,20,30,40]
for num in reversed(l1):
    print(num)

40
30
20
10

In [35]:
#range
num=5
for num in (range(num,-1,-1)):
    print(num)

5
4
3
2
1
0

In [36]:
#reverse a list using a loop
num=[1,2,3,4]
for i in num[::-1]:
    print(i)

4
3
2
1

In [37]:
#print the even numbers by adding 1 to the odd numbers in the list
odd=[1,5,7,9]
even=[i+1 for i in odd if i%2==1]
print(even)

[2, 6, 8, 10]

In [ ]:
#Accessing the index in for loop
enumerate()-->its a function is usefull when we wanted to access both value and its index

In [39]:
#print elements of the list with its index number using the enumerate()
num=[4,2,5,7,8]
for i,v in enumerate(num):
    print('Numbers[',i,']=',v)

Numbers[ 0 ]= 4
Numbers[ 1 ]= 2
Numbers[ 2 ]= 5
Numbers[ 3 ]= 7
Numbers[ 4 ]= 8

In [40]:
#printing the elements of the list with its index number using the range() function
num=[4,2,5,7,8]
size=len(num)
for i in range(size):
    print('index:',i," ",'value:',num[i])

index: 0   value: 4
index: 1   value: 2
index: 2   value: 5
index: 3   value: 7
index: 4   value: 8

In [41]:
#iterate string using for loop
#access all the characters of a string
name="akshatha"
for i in name:
    print(i,end=' ')

a k s h a t h a

In [42]:
name="akshatha"
for i in name:
    print(i)

a
k
s
h
a
t
h
a

In [45]:
#iterate string in reverse order
name="itvedant"
for i in name[::-1]:
    print(i,end=" ")

t n a d e v t i

In [47]:
#iterate over a particular set of characters in string
name="itvedant education"
for char in name[2:7:2]:
    print(char)

v
d
n

In [48]:
#iterate over words in a sentence using split() function
s="remeber red,hope is good thing,maybe the best of things,and no good things"
for word in s.split():
    print(word)

remeber,red,hope
is
good
thing,maybe
the
best
of
things,and
no
good
things

In [54]:
#iterate dictionary using for loop
#acess only the keys of the dictionary
d={'brand':'BMW','color':'white'}
for key in d:
    print(key,'->',d[key])

brand -> BMW
color -> white

In [57]:
d={'brand':'BMW','color':'white'}
for key in d:
    print(key)

brand
color

In [56]:
d={'brand':'BMW','color':'white'}
for value in d.values():
    print(value)

BMW
white