# loops

In [ ]:
# range
1)

In [2]:
sum=0
for i in range(20,31,2):
    sum=sum+i
    print(i)
print(f'the sum of all the number is',sum)

20
22
24
26
28
30
the sum of all the number is 150

In [10]:
#enter the squre of all number in the list
sum=0
for i in range(1,10):
    if (i*i for i in range if i%2!=0)

SyntaxError: expected ':' (3194390551.py, line 4)

In [17]:
# using break
l=[1,23,3,5,6,86,54]
for i in l:
    if i>30:
        break
    else:
        print(i)

1
23
3
5
6

In [28]:
# usin continue
k=[1,23,3,5,6,86,54]
for i in k:
    if i>=30:
        continue
    else:
        print(i)

1
23
3
5
6

In [35]:
# pass
s="jhgcajc","jhgjhcccn"
for i in s:
    pass

In [38]:
#write a program to print first 10 number in reverse order

for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [39]:
#wap to print a table of a number accepted from user
num = int(input("Enter a number: "))

print(f"Multiplication table of {num}:")
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 6
Multiplication table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
#wap to display all the numbers which are divisible by 11 but not by 2 between 100 and 500
for num in range(100, 501):
    if num % 11 == 0 and num % 2 != 0:
        print(num)

In [ ]:
# to display some of odd numbers and even number that fall between 12 and 37

In [41]:
#print elements of the list with its index
num=[4,2,5,7,8]
for i,v in enumerate(num): print('Numbers[',i,']=',v)

Numbers[ 0 ]= 4
Numbers[ 1 ]= 2
Numbers[ 2 ]= 5
Numbers[ 3 ]= 7
Numbers[ 4 ]= 8

In [42]:
#printing the elements of the list with its index 
num=[4,2,5,7,8] 
size=len (num) 
for i in range(size): 
    print('index:',i," ", 'value:', num[i])

index: 0   value: 4
index: 1   value: 2
index: 2   value: 5
index: 3   value: 7
index: 4   value: 8

In [46]:
#iterate string using for Loop #access all the characters of a string 
name="thamarai"
for i in name:
    print(i, end=' ')

t h a m a r a i

In [45]:
name="thamsrai"
for i in name:
    print(i)

t
h
a
m
s
r
a
i

In [47]:
#iterate string in rev order
name="thamarai"
for i in name[::-1]:
    print(i,end=" ")

i a r a m a h t

In [52]:
name="itvedant sducation"
for char in name[2:7:2]:
    print(char)

v
d
n

In [54]:
s=" hi i am thamarai"
for word in s.split():
    print(word)

hi
i
am
thamarai

In [55]:
d={'brand':'hjh','hhhhh':'hhjhbc'}
for key in d:
    print(key,'->',d[key])

brand -> hjh
hhhhh -> hhjhbc

In [60]:
d={'brand':'hjh','hhhhh':'hhjhbc'}
for value in d.values():
    print(value)

hjh
hhjhbc