# While loop

In [1]:
#SUM OF NUMBERS

a=int(input("Enter the number :"))

sum=0
i=1
while (i<=a):
    sum=sum+i
    i=i+1
print(sum)

In [18]:
# reverse a number
num=int(input("enter"))

rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)

enter123
321

In [3]:
# palidrome

num=int(input("enter: "))

rev=0
temp=num

while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)
if temp==rev:
    print("palindrome")
else:
    print("not palindrome")

enter: 123
321
not palindrome

In [7]:
# aramstrong number 

num=int(input("ennter :"))
sum=0
temp=num
while num>0:
    rem=num%10
    sum=sum+rem*rem*rem
    num=num//10
if temp==sum:
    print("armstrong")
else:
    print("not armstrong")

ennter :153
armstrong

In [9]:
#PRINT FIRST 10 NUMBER

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
# print even 

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [12]:
# print odd 

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [15]:
# even nuumbers in reversed order
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [29]:
# table of number
num1=int(input("enter a number: "))

for n in range(1,11):
    sum=num1*n
    print(f"{n} x {num1} ={sum}")

enter a number: 5
1 x 5 =5
2 x 5 =10
3 x 5 =15
4 x 5 =20
5 x 5 =25
6 x 5 =30
7 x 5 =35
8 x 5 =40
9 x 5 =45
10 x 5 =50

In [4]:
# product of a digit
num=int(input("Enter a digit: "))
n=num
product=1

while n!=0:
    rem=n%10
    product =product*rem
    n=n//10
print(product)

Enter a digit: 43
12

In [46]:
# factorial of a number

def fact(x):
    if x==0 or x==1:
        return 1
    else:
        return(x*fact(x-1)) 
        
res=fact(int(input("enter a number: ")))
print(res)

enter a number: 5
120

In [48]:
# average of a num

n=int(input("Enter a number: "))

avg=n/2
print(avg)

Enter a number: 10
5.0

In [51]:
#sum of even and odd number
even=0
odd=0
for i in range(1,50):
    if i%2==0:
        even=even+i
    elif i%2!=0:
        odd=odd+i
print("total even number is: ",even)
print("total odd number is: ",odd)

total even number is:  600
total odd number is:  625

In [62]:
for i in range(100, 501):
    if i%11==0 and i%2!=0:
        print(i,end=" ")

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [1]:
# list method

#append

a=[12,45,"sasd",354]

a.append(100)
a.append("happy")
print(a)

[12, 45, 'sasd', 354, 100, 'happy']

In [2]:
a=[12,34,"asjd",33]
b=[23,11,"aadg",233]

a.extend(b)
print(a)

[12, 34, 'asjd', 33, 23, 11, 'aadg', 233]

In [12]:
a=[12,34,"asjd",33]
b=a.copy()
print(id(a))
print(id(b))
print(id(a) is id(b))

2586335732736
2586335545728
False

In [23]:
#sort
a=[12,34,33]
a.sort()
print(a)

[12, 33, 34]

In [26]:
#reverse
a=[12,43,54,23,75,3,7,4]
a.reverse()
print(a)
print(a[::-1])

[4, 7, 3, 75, 23, 54, 43, 12]
[12, 43, 54, 23, 75, 3, 7, 4]

In [28]:
# print desending order
a=[12,43,54,23,75,3,7,4]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[3, 4, 7, 12, 23, 43, 54, 75]
[75, 54, 43, 23, 12, 7, 4, 3]

In [29]:
#inser(index,value)

a=[12,34,57,78]
a.insert(0,10)
a.insert(1,20)
print(a)

[10, 20, 12, 34, 57, 78]

In [30]:
#count(object)

a=[12,12,12,12,34,57,78]
b=a.count(12)
print(b)

4

In [42]:
#pop
a=[12,12,12,12,34,57,78]
b=a.pop(2)  #using index
c=a.pop()
print(b)
print(c)

12
78

In [43]:
#remove(object)

a=[12,12,12,12,34,57,78]
a.remove(12)
print(a)

[12, 12, 12, 34, 57, 78]

In [62]:
a=[100,20,50,60]
print(a.index(50))
# print(a.index(200))
# print(a.index(20,0,3))
# print(a.index(50))
# a.remove(50)
# print(a)
# print(a.index(300))
# print(a.pop(5))

2

In [63]:
#update in without build in method

a=[12,34,54]
print(a)
a[0]=100
print(a)

[12, 34, 54]
[100, 34, 54]

In [75]:
#update multiple element without built in method

a=[12,34,54]
print(a)
a[0:1]=100,200
print(a)

[12, 34, 54]
[100, 200, 34, 54]

In [80]:
# python program for 

# i/p : [10,20,30,50,100,20,10]
# o/p : [10,20,30,50,100]

a=[10,20,30,50,100,20,10]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 20, 30, 50, 100]

In [84]:
b=[]
def dupp(a):
    for i in a:
        if i not in b:
            b.append(i)
a=[10,20,30,50,100,20,10]
dupp(a) 
print(b)

[10, 20, 30, 50, 100]

In [ ]:
c=[for i in ]