In [1]:
#nueric
num=5
print (num)
print(type(num))

5
<class 'int'>

In [3]:
#float and complex number
num=12.8
num1=1+2j
print(num)
print(num1)
print(type(num))
print(type(num1))

12.8
(1+2j)
<class 'float'>
<class 'complex'>

In [5]:
#list
lan=["py","java","switch"]
print(lan)
print(type(lan))

['py', 'java', 'switch']
<class 'list'>

In [7]:
#tuple
a=(1,2,"thamarai","ful stack")
print(a)
print(type(a))

(1, 2, 'thamarai', 'ful stack')
<class 'tuple'>

In [8]:
#string
a='a'
b="a"
c="""a"""
print(a,b,c)

a a a

In [9]:
#frozenset
s={1,2,4,64.3}
b=frozenset(s)
print(b)
print(type(b))

frozenset({64.3, 1, 2, 4})
<class 'frozenset'>

In [10]:
#dictionary
a={a:"thamarai",b:"dhill"}
print(a)
print(type(a))

{'a': 'thamarai', frozenset({64.3, 1, 2, 4}): 'dhill'}
<class 'dict'>

In [ ]:
#python type converter
#1---implicit
#2---Explicit

In [11]:
#implicit convertion
a=123
print(type(a))
b=1.43
print(type(b))
res=a+b
print(res)
print(type(res))

<class 'int'>
<class 'float'>
124.43
<class 'float'>

In [12]:
#explicit
a="12"
print(type(a))
b=12
print(type(b))
c=int(a)
res=c+b
print(res)
print(type(res))

<class 'str'>
<class 'int'>
24
<class 'int'>

In [14]:
#operators
#arithmetic
a=10
b=10
print ("a+b:",a+b)
#similarly -, *, /, //, **

a+b: 20

In [18]:
#assignment
a=10
b=2
#thi condition used for "result"
res=a+1
print("a+=:", res)
#similarrly use =, +=, -=, *=, /=, %=, **=

a+=: 11

In [20]:
#comparision
a=10
b=2
print("a==b:",a==b)
print("a!=b:",a!=b)
#similarly used

a==b: False
a!=b: True

In [28]:
#logical
print(True and True)
print(True and False)
print(True or True)
print(True or True)

True
False
True
True

In [32]:
#bitwise
print(12&13)
print(12|13)

12
13

In [23]:
#specisl
#is and is not
x1=10
y1=1
x2="hello"
y2="tts"
x3=[1,2,3]
x3=[1,2,3]
print (x1 is not y1)
print (x2 is y2)
print(id(x1))

#in and ot in

message="thamarai"

print("h" in message)

True
False
140734009939016
True

In [ ]:
#count the number of words 
sentence = input("Enter a sentence: ")
words = sentence.split()
average_length = sum(len(word) for word in words) / len(words)

print("Average word length:", average_length)

In [ ]:
#count the number of words 
name="thamarai selvan"
words=name.split()
ave_len=sum(len(word) for word in words)/len(words)
print("A",ave_len)

In [2]:
#print ascending order
# Input three numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

# Arrange the numbers in ascending order
numbers = [num1, num2, num3]
numbers.sort()

# Print the numbers in ascending order
print("Numbers in ascending order:", numbers[0], numbers[1], numbers[2])

Enter the first number: 10
Enter the second number: 8
Enter the third number: 3
Numbers in ascending order: 3 8 10

In [5]:
#print desending order
# Input three numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

# Arrange the numbers in ascending order
numbers = [num1, num2, num3]
numbers.sort(reverse=True)

# Print the numbers in ascending order
print("Numbers in ascending order:", numbers[0], numbers[1], numbers[2])

Enter the first number: 1
Enter the second number: 2
Enter the third number: 47
Numbers in ascending order: 47 2 1