# lambda functions

In [1]:
#without argument
def ak():
    print("hello")
ak()

hello

In [4]:
#using lambda (witout argument)
ak=lambda:print("hello")
ak()

hello

In [3]:
#with argument
def ak(name):
    print("hello",name)
ak("tts")

hello tts

In [5]:
#using lambda(with argument)
ak=lambda name:print("hello",name)
ak("thamarai")

hello thamarai

In [19]:
ak=lambda num:15+(num)
print((ak(20)))

35

In [18]:
ak=lambda num:15*(num)
ak(int(input("enter a number:")))

enter a number:33

495

In [21]:
ak=lambda x,y:x*y
print(ak(5,4))

20

In [35]:
def mul(x):
    return lambda n:x*n
res=mul(5)
print(res(4))

20

In [47]:
l=[32,43,53,22,34,224,54,24]
l1=list(filter(lambda num:(num%2!=0),l))
print(l1)

[43, 53]

In [60]:
# l = [32, 43, 53, 22, 34, 224, 54, 24]
#l1 = (lambda lst: [x for x in lst if x % 2 != 0])(l)
#print(l1)

# without filter 
l = [1, 2, 3, 4, 5, 66, 7, 8, 9]
l1 = [(lambda num: num)(num) for num in l if num % 2 != 0]
print(l1)

[1, 3, 5, 7, 9]

In [58]:
l = [32, 43, 53, 22, 34, 224, 54, 24]
l1 = (lambda lst: [x for x in lst if x % 2 != 0])(l)
print(l1)

[43, 53]

In [55]:
my_lambda = lambda x: x * 2
print(dir(my_lambda))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__getstate__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [61]:
l=[2, 4, 5, 1, 3, 7, 8, 9, 10]
sqr=list(map(lambda num:num**2,l))
print(sqr)

[4, 16, 25, 1, 9, 49, 64, 81, 100]

In [64]:
#without filter
l = [2, 4, 5, 1, 3, 7, 8, 9, 10]
sqr = [(lambda num: num**2)(x) for x in l]
print(sqr)

[25, 1, 9, 49, 81]

In [67]:
#using range
sq=[(lambda num:num)(num**2)for num in range(1,10)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
m=lambda x,y:x if x>y else y
print(m(11,21))

21

In [68]:
reciprocal = lambda num: 1 / num if num != 0 else "Cannot calculate reciprocal of zero."

# Example usage:
num = 5
result = reciprocal(num)
print(result)

0.2

In [69]:
def reciprocal_def(num):
    if num != 0:
        return 1 / num
    else:
        return "Cannot calculate reciprocal of zero."

# Example usage:
num = 5
result_def = reciprocal_def(num)
print(result_def)

0.2