# OOPS:
    class, objects, constuctors,destructor, inheritance, encapsulation, Polymorphism 
    
    1). class
        a).attributes (or) variables(1.variablles in local and global .)
        b).methods (or) function 
    2).parameters or arguments(default argument, position argument, keywoord argument, variable length argument, *args , **kwargs))
     3). constructor (__init__)
             (The task of constructors is to initialize (assign values) to the data members of the class When an object of class is created.)(types:  1. default constructor 2. Parameterized constructor)(type of parameterized constructor types of argument:a).positin b).keyword c).default d).variable length)
     4).Destructor (__del__)
             this is opposit for constructor
             
     5).inheritance(reasubilyty of code)
         a).single b)multiple c).multi level d).hybrid e).hierarchical.
     6).Polymorphism (poly-many,morphism-forms =many forms)(a).method overloading(support only java and c++), b).method overriding, c).operator overloading)
     7).Encapsulations(wrapping of data)(data + method =wrapping of data)(used to protect and hide the data )(access specifiers 1).public. 2).private(__). 3).protected ( _ ))
     7).data abstractions (its hides the data)(real time application tv remote, because we use only "channel change button and sound button" but inside tthe remote it use lot of thigs)
     before data abstraction we must know
     1).what is modules 
     2).importing modules
     3).what is abstraction classes on abstract method
     4).what is concrete method

# class and object creation

In [17]:
class person():  #class 
    print("hai")
    a=10
obj=person() #object
print(obj.a)

hai
10

In [20]:
class person():  #class
    print("hai")
    a=10
obj=person()  #object
obj2=person()  #object
print(obj.a)
print(obj2.a)

hai
10
10

# class, object and method(function) creation:

In [21]:
def msg():  #function creation
    print("hello")
msg()

hello

In [42]:
class text(): #class
    def msg():  #function creation without "self"
        print("hello")
a=text()  #object (instance class)
a.msg()

TypeError: text.msg() takes 0 positional arguments but 1 was given

In [43]:
class text():  #class
    def msg(self):  #function creation with "self" (self is the parameter)
        print("hello")
a=text() #object
a.msg()

hello

In [44]:
class text():  #class
    def msg(tts):  #function creation with "self" (self is the parameter)
        print("hello")
a=text() #object
a.msg()

hello

In [46]:
#anoter method of class call    but is not current day using
class text():
    def msg(self):
        print("hi")
a=text()
text.msg(a)  # but is not current day using

hi

# self parameter

1). Self refers to the current instance of class.

 2). used to access variables that belongs to the class

In [47]:
class text():
    def add(a,b):  #without self
        c=a+b
        print(f"{a} and {b} is = to {c}")
obj=text()
obj.add(10,20)

TypeError: text.add() takes 2 positional arguments but 3 were given

In [48]:
class text():
    def add(self,a,b): #with self
        c=a+b
        print(f"{a} and {b} is = to {c}")
obj=text()
obj.add(10,20)

10 and 20 is = to 30

In [49]:
class text():
    d=50
    def add(self,a,b):
        c=a+b+d   # without use self in "d"
        print(f"{a} , {b} and {d} = to {c}")
obj=text()
obj.add(10,20)

NameError: name 'd' is not defined

In [55]:
class text():
    d=50
    def add(self,a,b):
        c=a+b+self.d   # without use self in "d"
        print(f"{a} , {b} and {self.d} = to {c}")
obj=text()
obj1=text()
obj.add(10,20)
obj1.add(20,30)

10 , 20 and 50 = to 80
20 , 30 and 50 = to 100

# function with task

In [59]:
class  person():
    def get_details(self):
        name="Dhill"
        age=21
        gender="Male"
        print(f"My name is : {name}")
        print(f"Age is : {age}")
        print(f"Gender is : {gender}")
obj=person()
obj.get_details()

My name is : Dhill
Age is : 21
Gender is : Male

In [1]:
class person():
    def get_details(self):
        name="Dhill"
        age=21
        gender="Male"
#         print(name)
    def print_details(self):
        print(f"My name is : {name}")
        print(f"Age is : {age}")
        print(f"gender is : {gender}")
        
obj=person()
obj.get_details()
obj.print_details()

Dhill

NameError: name 'name' is not defined

In [65]:
class person():
    def get_details(self):
        self.name="Dhill"
        self.age=21
        self.gender="Male"
    def print_details(self):
        print(f"My name is : {self.name}")
        print(f"Age is : {self.age}")
        print(f"gender is : {self.gender}")
        
obj=person()
obj.get_details()
obj.print_details()

My name is : Dhill
Age is : 21
gender is : Male

In [66]:
class person():
    def get_details(self):
        self.name=input("name: ")
        self.age=int(input("Age: "))
        self.gender=input("Gender: ")
    def print_details(self):
        print(f"My name is : {self.name}")
        print(f"Age is : {self.age}")
        print(f"gender is : {self.gender}")
        
obj=person()
obj.get_details()
obj.print_details()

name: tts
Age: 23
Gender: male
My name is : tts
Age is : 23
gender is : male

In [72]:
class Person():
    def get_details(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def print_details(self):
        print(f"My name is : {self.name}")
        print(f"Age is : {self.age}")
        print(f"gender is : {self.gender}")
obj=Person()
obj1=Person()
obj.get_details("Dhill",21,"Male")
obj1.get_details(input("name: "),int(input("age: ")),input("gender: "))
obj.print_details()
obj1.print_details()

name: tts
age: 21
gender: male
My name is : Dhill
Age is : 21
gender is : Male
My name is : tts
Age is : 21
gender is : male

# method without self parameter

In [73]:
class person():
    name=""  #global variable
    age=0
    gender=""

per1=person()
per1.name="dhill"
per1.age=21
per1.gender="male"

per2=person()
per2.name="appu"
per2.age=24
per2.gender="male"

print(f"{per1.name} is {per1.age} years old -- {per1.gender}")
print(f"{per2.name} is {per2.age} years old -- {per2.gender}")

dhill is 21 years old -- male
appu is 24 years old -- male

In [4]:
class person():
    name=""   #gobal
    age=0   
    gender=""
    def print_details(self):
        print(f"my name is {c.name}")
        print(f"age is {c.age}")
        print(f"gender is {c.gender}")
c=person()
c.name="dhill"
c.age=21
c.gender="Male"
c.print_details()

my name is dhill
age is 21
gender is Male

In [77]:
class room():
    length=0.0 #global
    breadth=0.0
    def calculate_area(self):
        print(f"Area of room is '{r.length * r.breadth}'")

r=room()
r.length=55.2
r.breadth=43.5

r.calculate_area()

Area of room is '2401.2000000000003'

# constructor ( --init-- )

(The task of constructors is to initialize (assign values) to the data members of the class When an object of class is created.)
         (types:  1. default constructor 
                  2. Parameterized constructor)

# 1). default constructor

In [7]:
class stu():
    def __init__(self):
        print("hi")
obj=stu()

hi

In [10]:
class stu():
    def __init__(self):
        name="dhill"
        age=21
        print(f"{name} is {age} years old")
obj=stu()
obj2=stu()

dhill is 21 years old
dhill is 21 years old

In [84]:
class stu():
    def __init__(self):
        name="dhill"
        age=21
        print(f"{name} is {age} years old")
    def __init__(self):
        name="appu"
        age=23
        print(f"{name} is {age} years old")
obj=stu()

appu is 23 years old

# 2). parameterised constructor

In [2]:
class stu():
    def __init__(self,name,age):
        print(f"my age is {name} and age is {age}")
obj=stu("tts",21)

my age is tts and age is 21

In [17]:
class stu():
    def __init__(self,name):
        age=21
        print(f"my age is {name} and age is {age}")
obj=stu("tts")

my age is tts and age is 21

In [21]:
class stu():
    def __init__(self,name,age=18):
    
        print(f"my age is {name} and age is {age}")
obj=stu("tts")

my age is tts and age is 18

In [22]:
class stu():
    def __init__(self,name,age=18):
    
        print(f"my age is {name} and age is {age}")
obj=stu("tts",21)

my age is tts and age is 21

# type of parameterized constructor
types of argument:
1).positin
2).keyword
3).default
4).variable length

In [1]:
# dafault

class stu():
    def __init__(self,name,age=18):
    
        print(f"my age is {name} and age is {age}")
obj=stu("tts")

my age is tts and age is 18

In [7]:
# dafault and position

class stu():
    def __init__(self,name,age=18):
        self.name=name
        self.age=age
    def print1(self):
        print(f"my age is {self.name} and age is {self.age}")
obj=stu("tts",21)
obj.print1()

my age is tts and age is 21

In [10]:
class text():
    z=0
    def __init__(self,x,*y):
        z=x
        for i in y:
            z=z+i
        print("sum: ",z)
obj=text(10,20,30,40)

sum:  100

In [8]:
# variabe length argument or parameter
class content():
#     li=[]
    def __init__(self,x,*y):
        z=[x]
        for i in y:
            z.append(i)
#             z+=(i)
        print("the list is: ", z)
obj=content("dhill","appu","appa","amma")

the list is:  ['dhill', 'appu', 'appa', 'amma']

In [10]:
# **kwargs

class text():
    def __init__(self,name,**val):
        print("namw:" ,name)
        print("age: " ,val['age'])
        print("city: " ,val['city'])
        print("ph: ",val['ph'])
obj=text("dhill",age=21,city='ban',ph=12345)

namw: dhill
age:  21
city:  ban
ph:  12345

# use constrctor to find area of triangle

1/5 * hehigt * base

In [15]:
class triangle():
    def __init__(self,b,h):
        self.base=b
        self.hight=h
#         print(b,h)
    def val(self):
        self.area=self.base *self.hight *0.5
        print("the triangel area is :" ,self.area)
obj=triangle(7,10)
obj.val()

the triangel area is : 35.0

# Destructor (--del--)

In [31]:
class stu():
    def __init__(self):
        print("this is constructor")
    def __del__(self):
        print("this is destructor")
w=stu()
del w

this is constructor
this is destructor

In [36]:
class person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print(f"my name is {self.name} and age is {self.age}")
    def __del__(self):
        print("the destrctor is called")
obj=person("dhill",21)
del obj

my name is dhill and age is 21
the destrctor is called
the destrctor is called

In [2]:
class person():
    def __del__(self):
        print("the destrctor is called")
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print(f"my name is {self.name} and age is {self.age}")
    
obj=person("dhill",21)
del obj

my name is dhill and age is 21
the destrctor is called
the destrctor is called


# constructor return type


return is not workig in constructor

In [42]:
#basic one
class stu():
    def a(self,a,b):
        c=a+b
        return c
add=stu()
val=add.a(10,15)
print(val)

25

In [48]:
#constrctor included

class text():
    def __init__(self):
        print("hai")
        return True #bool
a=text()
# print(a)

hai

TypeError: __init__() should return None, not 'bool'

In [49]:
#constrctor included

class text():
    def __init__(self):
        print("hai")
        a="done"  #string
        return a
a=text()
# print(a)

hai

TypeError: __init__() should return None, not 'str'

In [51]:
#constrctor included

class text():
    def __init__(self):
        print("hai")
        a=21  #string
        return a
a=text()
# print(a)

hai

TypeError: __init__() should return None, not 'int'

# 5).inheritance(Reusability of code)

# a).single level inherited


take A and B class name
A => is a base or super or parent class
B => is derived or sub or child class

In [61]:
class parent():
    def fun1(self):
        print("this is fun1 class 1 parent class")
class child(parent): #pareent class inherited
    def fun2(self):
        print("tis is fun3 class 2 child class")
        
obj=child()
obj.fun1()

this is fun1 class 1 parent class

In [60]:
class parent(child): #child clann inherited
    def fun1(self):
        print("this is fun1 class 1 parent class")
class child(parent): # parent class inherited
    def fun2(self):
        print("tis is fun3 class 2 child class")
        
obj=child()
obj.fun1()

obj2=parent()
obj2.fun2()

this is fun1 class 1 parent class
tis is fun3 class 2 child class

In [77]:
class person():
    def details(self):
        name="tts"
        age=21
        gender="male"
        print(f"my name is {name} and my age is {age} gender is {gender}")
class update(person):
    def detail_update(self):
        city="tamilnadu"
        print(f"from {city}")
        
obj1=person()
obj1.details()

obj2=update()
obj2.detail_update()

my name is tts and my age is 21 gender is male
from tamilnadu

# 2). mult level inheritance

A,B and C

In [83]:
class a():
    def fun1(self):
        print("this is class a")
class b(a):
    def fun2(self):
        print("this is class b")
class c(b):
    def fun3(self):
        print("this is class c")
obj=c()
obj.fun1()
obj.fun2()
obj.fun3()

this is class a
this is class b
this is class c

# exerciec of multi level:
    personal==>name, age, gender
    company=company name,location
    others=salary,designation

In [86]:
class person():
    def person_detail(self):
        name="thamaraiselvan"
        age=21
        gender="Male"
        print(f"Name: {name} --- Age: {age} --- Gender: {gender}")
class company(person):
    def company_details(self):
        c_name="ibm"
        location="chennai"
        print(f"Company name: {c_name} --- location: {location}")
class others(company):
    def other_details(self):
        salary=10000
        designation="HR"
        print(f"Salary: {salary} --- designation: {designation}")
        
obj=others()
obj.person_detail()
obj.company_details()
obj.other_details()

Name: thamaraiselvan --- Age: 21 --- Gender: Male
Company name: ibm --- location: chennai
Salary: 10000 --- designation: HR

In [91]:
class person():
    def personal(self,name,age,gender):
        print(f"Name: {name} --- Age: {age} --- Gender: {gender}")
        
class company(person):
    def company_detail(self,name,location):
        print(f"Company name: {name} --- location: {location}")

class others(company):
    def others_details(self,salary,designation):
        print(f"Salary: {salary} --- designation: {designation}")

obj=others()
obj.personal("dhill",21,"Male")
obj.company_detail("IBM","Bangalore")
obj.others_details(100000,"Python developer")

Name: dhill --- Age: 21 --- Gender: Male
Company name: IBM --- location: Bangalore
Salary: 100000 --- designation: Python developer

# 3) Multiple inheritance


two(2) parent class and one(1) child class

In [9]:
class person():
    def person_detailss(self, name, age,gender):
        print(f"Person details: {name}, {age}, {gender}")
class company():
    def company_details(self,c_name,location):
        print(f"Comoany Details: {c_name} , {location}")
class others():
    def others_details(self, salary,designation):
        print(f"Others details: {salary}, {designation}")
        
class all_details(person,company,others):
    print("Printing tha employee details: ",end="\n\n")
    
obj=all_details()  #see this
obj.person_detailss("dhill",21,"Male")
obj.company_details("ibm","bangalore")
obj.others_details(20000,"hr")

Printing tha employee details:

Person details: dhill, 21, Male
Comoany Details: ibm , bangalore
Others details: 20000, hr

In [12]:
class person():
    def person_detailss(self, name, age,gender):
        print(f"Person details: {name}, {age}, {gender}")
class company():
    def company_details(self,c_name,location):
        print(f"Comoany Details: {c_name} , {location}")
class others():
    def others_details(self, salary,designation):
        print(f"Others details: {salary}, {designation}")
        
class all_details(person,company,others):
    def print_all_details(self):
        print("Printing tha employee details: ",end="\n\n")
        self.person_detailss("dhill",21,"Male")
        self.company_details("ibm","bangalore")
        self.others_details(20000,"hr") 
    
obj=all_details()  #see this
obj.print_all_details()

Printing tha employee details:

Person details: dhill, 21, Male
Comoany Details: ibm , bangalore
Others details: 20000, hr

# 4).Hierarchical

opposite of multiple inheritance

one father and mother and multiple child


one base class and multiple derived class

In [3]:
class parent():
    def parent_details(self):
        print("father : thisru and mother: saraswathi")
class child1(parent):
    def child_name1(self):
        print("child 1 : dhill")
class child2(parent):
    def child_name2(self):
        print("child 2 : appu")
        
obj1=child1()
obj2=child2()

obj1.parent_details()
obj1.child_name1() 

obj2.parent_details()
obj2.child_name2()

father : thisru and mother: saraswathi
child 1 : dhill
father : thisru and mother: saraswathi
child 2 : appu

In [40]:
class add_sub():
    def val(self):
        self.a=10
        self.b=20
class add(add_sub):
    def addition(self):
        print("addition is: ", self.a +self.b)
class sub(add_sub):
    def subtract(self):
        print("sub is: ",self.a -self.b)
        
a=add()
s=sub()
a.val()
a.addition()
s.val()
s.subtract()

addition is:  30
sub is:  -10

# 5). hybrid inheritance


comibnation of others inheritance methos (i.e,)single,multiple,multi level,hieracical

combination of one or more type

In [26]:
# using all types of inheritance type 
# like singe level, multi level, multiple, hierarical, hybrid

class dog():
    def fun1(self):
        print("this is dog")
class cat(dog): # single inheritance
    def fun2(self):
        print("this is cat")
class rat(cat):  # multi level inheritance
    def fun3(self):
        print("this is rat")
class elephant(dog): #hierarical inheritance
    def fun4(self):
        print("this is elephant")
class horse(cat,elephant): # multiple inhertance
    def fun5(self):
        print("this is horse")
        
h=horse()
horse.__mro__
h.fun1()
h.fun2()
# h.fun3()
h.fun4()
h.fun5()

print()

r=rat()
r.fun2()

this is dog
this is cat
this is elephant
this is horse

this is cat

# inheriantnce with same method

# class_name.--mro-- (checking same type of method or same name of methods)

{mro - method resoltion order}

In [34]:
class a():
    def a_fun(self):
        print("this is first")
class b(a):
    def a_fun(self):
        print("this is second")
obj=b()
obj.a_fun()
b.__mro__  # check the method order

this is second

(__main__.b, __main__.a, object)

In [35]:
class a():
    def a_fun(self):
        print("this is first")
class b(a):
    pass
obj=b()
obj.a_fun()
b.__mro__  # check the method order

this is first

(__main__.b, __main__.a, object)

In [38]:
class a():
    def a_fun(self):
        print("this is first")
class b():
    def a_fun(self):
        print("this is second")
class c(b,a):
    def a_fun(self):
        print("this is third")
        
obj=c()
obj.a_fun()

c.__mro__

this is third

(__main__.c, __main__.b, __main__.a, object)

In [55]:
class a():
    def a_fun(self):
        print("this is first")
class b():
    def a_fun(self):
        print("this is second")
class c(a,b):
    pass  # used to blank
        
obj=c()
obj.a_fun()

c.__mro__

this is first

(__main__.c, __main__.a, __main__.b, object)

# connsttructor in inheritance

In [45]:
class a():
    def __init__(delf):
        print("this is __init__")
    def apple(self):
        print("this is apple")
class b(a):
    def orange(self):
        print("this is orange")
obj=a()
obj.apple()

this is __init__
this is apple
this is __init__

In [46]:
class a():
    def __init__(delf):
        print("this is __init__")
    def apple(self):
        print("this is apple")
class b(a):
    def orange(self):
        print("this is orange")
# obj=a()
# obj.apple()

obj2=b()

this is __init__

In [49]:
class a():
    def __init__(delf):
        print("this is __init__ in a")
    def apple(self):
        print("this is apple")
class b(a):
    def __init__(delf):
        print("this is __init__ in b")
    def orange(self):
        print("this is orange")
# obj=a()
# obj.apple()

obj2=b()

this is __init__ in b

# super() methhod

retrive method data in base oor parent class

In [53]:
class a():
    def __init__(delf):
        print("this is __init__ in a")
    def apple(self):
        print("this is apple")
class b(a):
    def __init__(delf):
        super().__init__()
        super().apple()
        print("this is __init__ in b")
    def orange(self):
        print("this is orange")
# obj=a()
# obj.apple()

obj2=b()

this is __init__ in a
this is apple
this is __init__ in b

In [60]:
class a():
    def __init__(self):
        print("this is class a")
    def fun1(self):
        print("this class a in method 1")
        
class b():
    def __init__(self):
        print("this is class b")
    def fun1(self):
            print("this class a in method 1")
class c(a,b):
    def __init__(self):
        super().__init__()
        print("this is class c")
class d(b,a):
    def __init__(self):
        super().__init__()
        super().fun1()
        print("this is class d")
        
ob1=c()
print()
ob2=d()

this is class a
this is class c

this is class b
this class a in method 1
this is class d

# super() in single inheritance

In [74]:
#normal method
class a():
    def addition(self):
        print(2+5)
class b(a):
    def sub(self):
        a.addition(self)
        print(2-5)
        
obj=b()
obj.sub()

7
-3

In [75]:
#normal method with passing  arguments
class a():
    def addition(self,a,b):
        print(a+b)
class b(a):
    def sub(self):
        a.addition(self,10,10)
        print(2-5)
        
obj=b()
obj.sub()

20
-3

In [70]:
#using super() method
class a():
    def addition(self):
        print(2+5)
class b(a):
    def sub(self):
        super().addition()
        print(2-5)
        super().addition()

        
obj=b()
obj.sub()

7
-3
7

In [72]:
#with passing argument or parameters
class a():
    def addition(self,a,b):
        print(a+b)
class b(a):
    def sub(self):
        super().addition(2,4)  #passing
        print(2-5)
        super().addition(5,4)  #passing

        
obj=b()
obj.sub()

6
-3
9

# super() methiod in multi level inheritance

In [84]:
class person():
    def person_details(self,name,age,gender):
        print("this is personal details")
        print(f"my name iis {name} and my age iis {age} gender is  {gender}")
class company(person):
    def commpany_details(self,c_name,location):
        print("this is company details")
        print(f"comany name isd {c_name} and location is {location}")
        super().person_details("dhill",21,"male")

class others(company):
    def other_details(self,salary,designation):
        print("this is oter details")
        print(f"my salary is {salary} and my designation is {designation}")
        super().commpany_details("ibm","bangalore")
#         super().other_details(20000,"HR")
obj=others()
obj.other_details(20000,"HR")

this is oter details
my salary is 20000 and my designation is HR
this is company details
comany name isd ibm and location is bangalore
this is personal details
my name iis dhill and my age iis 21 gender is  male

# super() methiod in multiple inheritance

In [79]:
class person():
    def person_details(self,name,age,gender):
        print("this is personal details")
        print(f"my name iis {name} and my age iis {age} gender is  {gender}")
class company():
    def commpany_details(self,c_name,location):
        print("this is company details")
        print(f"comany name isd {c_name} and location is {location}")
class others():
    def other_details(self,salary,designation):
        print("this is oter details")
        print(f"my salary is {salary} and my designation is {designation}")
class all_details(person,company,others):
    def show(self):
        print("all details about the person")
        super().person_details("dhill",21,"male")
        super().commpany_details("ibm","bangalore")
        super().other_details(20000,"HR")
obj=all_details()
obj.show()

all details about the person
this is personal details
my name iis dhill and my age iis 21 gender is  male
this is company details
comany name isd ibm and location is bangalore
this is oter details
my salary is 20000 and my designation is HR

In [89]:
#best use of super
#using hierrical
class shape():
    def __init__(self,length,breadth):
        self.len=length
        self.bre=breadth
        self.res=self.len * self.bre
class square(shape):
    def __init__(self,length):
        super().__init__(length ,length)
        print("squre: ",self.res)
class rect(shape):
    def __init__(self,length,breadth):
        super().__init__(length,breadth)
        print("Rectangle: ",self.res)
class cube(shape):
    def __init__(self,length, breadth, height):
        super().__init__(length, breadth)
        self.height=height
        print("Cube: ", self.res * self.height)
        
s=square(3)
r=rect(2,3)  
c=cube(2,3,2)

squre:  9
Rectangle:  6
Cube:  12

# Polymorphism

# 1).opertor overloading

type __ (two underscore) and click "tab" button

In [91]:
a=10
b=20
int.__add__(a,b)

30

In [92]:
a="tts"
b="stt"
str.__add__(a,b)

'ttsstt'

In [94]:
class stu():
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
s1=stu(2,10)
s2=stu(2,3)
s3=s1+s2

TypeError: unsupported operand type(s) for +: 'stu' and 'stu'

In [106]:
class stu():
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def __add__(self,temp):
        f_s=self.m1 +self.m2
        s_s=temp.m1+temp.m2
        total=stu(f_s,s_s)
        return total
s1=stu(10,20)
s2=stu(10,12)
total=s1+s2
print(total.m1)
print(total.m2)
# print(total)

30
22

# ARITHMATION IN OPERATOR OVERLOADING

In [113]:
# __add__
# __sub__
# __mul__
# __trurdiv__

class stu():
    def __init__(self,m1,m2):
        self.m1=m1
        self.m2=m2
    def __add__(self,temp):
        f_s=self.m1 +self.m2
        s_s=temp.m1+temp.m2
        total=stu(f_s,s_s)
        return total
    def __sub__(self,temp):
        f_s=self.m1 -self.m2
        s_s=temp.m1-temp.m2
        total=stu(f_s,s_s)
        return total
    def __mul__(self,temp):
        f_s=self.m1 *self.m2
        s_s=temp.m1*temp.m2
        total=stu(f_s,s_s)
        return total
    def __truediv__(self,temp):
        f_s=self.m1 +self.m2/2
        s_s=temp.m1+temp.m2/2
        total=stu(f_s,s_s)
        return total
    
s1=stu(10,20)
s2=stu(10,12)

add=s1+s2
sub=s1-s2
mul=s1*s2
div=s1/s2

print("add:", add.m1, add.m2)
print("sub:", sub.m1, sub.m2)
print("mul:", mul.m1, mul.m2)
print("div:", div.m1, div.m2)

add: 30 22
sub: -10 -2
mul: 200 120
div: 20.0 16.0

# COMPARISON OPERATION IN OPERATIONG OVERLOADING

In [2]:
class a():
    def __init__(self,value):
        self.value=value
    def __gt__(self,other):
        if (self.value > other.value):
            return True
        else:
            return False
ob1=a(10)
ob2=a(20)
if (ob1 > ob2):
    print("ob1 is greater")
else:
    print("ob2 is greater")

ob2 is greater

In [4]:
class a():
    def __init__(self,value):
        self.value=value
    def __gt__(self,other):
        if (self.value > other.value):
            return True
        else:
            return False
ob1=a(10)
ob2=a(20)
if (ob1 < ob2):
    print("ob1 is lesser")
else:
    print("ob2 is lesser")

ob1 is lesser

In [16]:
class a():
    def __init__(self,value):
        self.value=value
    def __gt__(self,other):
        if (self.value > other.value):
            return True
        else:
            return False
    def __lt__(self,other):
        if (self.value < other.value):
            return True
        else:
            return False
    def __eq__(self,other):
        if (self.value == other.value):
            return True
        else:
            return False
ob1=a(20)
ob2=a(20)
if (ob1 < ob2): #__lt__
    print("ob1 is lesser")
elif (ob1 > ob2): #__gt__
    print("ob2 is lesser")
elif(ob1 == ob2): #__eq__
    print("both are equal")
else:
    print("both are not equal")

both are equal

Arithmatic operator:
    
 Operator           Magic Function

    +             __add__(self, other)
    -             __sub__(self, other)
    *             __mul__(self, other)
    /             __truediv__(self, other)
    //            __floordiv__(self, other)
    %             __mod__(self, other)
    **            __pow__(self, other)
    >>            __rshift__(self, other)
    <<            __lshift__(self, other)
    &             __and__(self, other)
    |             __or__(self, other)
    ^             __xor__(self, other)

Comparison Operators:

  Operator         Magic Function

    <             __LT__(SELF, OTHER)
    >             __GT__(SELF, OTHER)
    <=            __LE__(SELF, OTHER)
    >=            __GE__(SELF, OTHER)
    ==            __EQ__(SELF, OTHER)
    !=            __NE__(SELF, OTHER)

Assignment Operators:
  Operator         Magic Function

    -=             __ISUB__(SELF, OTHER)
    +=             __IADD__(SELF, OTHER)
    *=             __IMUL__(SELF, OTHER)
    /=             __IDIV__(SELF, OTHER)
    //=            __IFLOORDIV__(SELF, OTHER)
    %=             __IMOD__(SELF, OTHER)
    >>=            __IRSHIFT__(SELF, OTHER)
    <<=            __ILSHIFT__(SELF, OTHER)
    &=             __IAND__(SELF, OTHER)
    |=             __IOR__(SELF, OTHER)
    ^=             __IXOR__(SELF, OTHER)
    **=            __IPOW__(SELF, OTHER)

# 2).method overloding

method overloading not posible for **python**.
it support on java and c++

In [20]:
class a():
    def fun(self,a):
        print(a)
    def fun(self,a,b):
        print(a+b)
    def fun(self,a,b,c): #only active in this line only
        print(a+b+c)
c=a()
c.fun(2,3,4)

9

# use this alternative method for meethod overloding

In [32]:
#use this alternative method
class a():
    def fun(self, a=None,b=None,c=None):
        if (a!=None and b!=None and c!=None):
            print(a+b+c)
        elif(a!=None and b!=None):
            print(a+b)
        else:
            print(a)
ob=a()
ob.fun(10,10,10)
ob.fun(10,10)
ob.fun(10)

30
20
10

In [39]:
#using *args method
class a():
    def fun(self,*v):
        val=0
        for i in v:
            val+=i
        print("Added Value: ",val)
ob=a()
ob.fun(1)
ob.fun(1,10)
ob.fun(1,11,22,33)
ob.fun(1,11,22,33,21,23,43,5,32,12,32,65)

Added Value:  1
Added Value:  11
Added Value:  67
Added Value:  300

In [3]:
class a():
    def fun(self,a=None,b=None):
        if (a!=None and b!=None and a!=b):
            print("Rectangle area :",a*b)
        else:
            print("square area: ",a*a)
ob=a()
ob.fun(3,4)
ob.fun(5,5)

Rectangle area : 12
square area:  25

# method overloading in dispatch method

In [7]:
!pip install multipledispatch

Requirement already satisfied: multipledispatch in c:\users\91753\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: six in c:\users\91753\anaconda3\lib\site-packages (from multipledispatch) (1.16.0)

In [2]:
from multipledispatch import dispatch

@dispatch(int,int)
def add(a,b):
    return a+b

@dispatch(int,int,int)
def add(a,b,c):
    return a+b+c

print(add(3,4))
print(add(1,2,3))

7
6

In [14]:
# from multipledispatch import dispatch
class a():
    @dispatch(int,int)
    def add(a,b):
        print(a+b)

    @dispatch(int,int,int)
    def add(a,b,c):
        print(a+b+c)
    
    @dispatch(float,float)
    def add(a,b):
        print(a+b)
        
    @dispatch(str,str)
    def add(a,b):
        print(a+b)
        
    @dispatch(int,float)
    def add(a,b):
        print(a+b)
ob=a()
ob.add(2,3)
ob.add(3,2,4)
ob.add(5.3,5.2)
ob.add("thamarai","selvan")
ob.add(3,3.5)

5
9
10.5
thamaraiselvan
6.5

# 3).method overriding

using same method names in different classes

In [18]:
class a():
    def detail(self):
        print("a")
class b(a):
    def detail(self):
        print("b")
class c(b):
    def detail(self):
        print("c")
ob=c()
ob.detail()

c

In [19]:
class a():
    def detail(self):
        print("a")
class b(a):
    def detail(self):
        print("b")
class c(b):
    def detail(self):
        super().detail()
        print("c")
ob=c()
ob.detail()

b
c

# polymorphism with inheritance and method overriding

In [22]:
class sheela():
    def speak(self):
        return "i am sheela"
class sakthi(sheela):
    def speak(self):
        return "i am sakthi"
class shiva(sakthi):
    def speak(self):
        return "i am shive"
ob1=sheela()
ob2=sakthi()
ob3=shiva()

for i in (ob1,ob2,ob3):
    print(i.speak())

i am sheela
i am sakthi
i am shive

In [27]:
class bike():
    def __init__(self,name,color,price):
        self.name=name
        self.color=color
        self.price=price
    def detail(self):
        print(f"name: {self.name}, color: {self.color} ,price: {self.price}")
    def gear(self):
        print("bike has no gear")
    def speed(self):
        print("bike speed is 100")
class car(bike):
    def gear(self):
        print("yes car has gear")
    def speed(self):
        print("car maximum speed is 250")
        
b=bike("honda","red",200000)
b.detail()
b.gear()
b.speed()

print()

c=car("susiki","white",300000)
c.detail()
c.gear()
c.speed()

name: honda, color: red ,price: 200000
bike has no gear
bike speed is 100

name: susiki, color: white ,price: 300000
yes car has gear
car maximum speed is 250

# polymorphism with class methoods and functions

In [30]:
class one():
    def name(self):
        print("my name is dhill")
    def age(self):
        print("my age is 21")
    def gender(self):
        print("male")
class two():
    def name(self):
        print("my name is appu")
    def age(self):
        print("my age is 24")
    def gender(self):
        print("male")
o=one()
t=two()
for i in (o,t):  #itration using
    i.name()
    i.age()
    i.gender()
    print()

my name is dhill
my age is 21
male

my name is appu
my age is 24
male

In [33]:
class one():
    def name(self):
        print("my name is dhill")
    def age(self):
        print("my age is 21")
    def gender(self):
        print("male")
class two():
    def name(self):
        print("my name is appu")
    def age(self):
        print("my age is 24")
    def gender(self):
        print("male")
def fun_call(obj):  # method using
    obj.name()
    obj.age()
    obj.gender()
o=one()
t=two()
fun_call(o)
fun_call(t)

my name is dhill
my age is 21
male
my name is appu
my age is 24
male

# 7).Encapsulations(wrapping of data)(data + method =wrapping of data)(used to protect and hide the data )(access specifiers 1).public. 2).private(__). 3).protected)

# private

In [42]:
class text():
    def detail(self,name,age):
        self.__name=name
        self.__age=age
        print("name: ",ob.__name)
        print("age: ",ob.__age)
ob=text()
ob.detail("dhill",21)

name:  dhill
age:  21

In [11]:
class text():
    def detail4(self,name,age):
        self.__name=name
        self.__age=age
    print("name: ",ob2.__name)
    print("age: ",ob2.__age)
ob2=text()
ob2.detail4("dhill",22)

name:  dhill
age:  22

In [10]:
class text():
    def detail3(self,name,age):
        self.__name=name
        self.__age=age
        
ob1=text()
ob1.detail3("dhill",21)
print("name: ",ob1.__name)
print("age: ",ob1.__age)

AttributeError: 'text' object has no attribute '__name'

In [14]:
# one private attribute call fromm public method

class school():
    def detail(self,name):
        self.__name=name
    def show(self):
        print("name: ",self.__name)
a=school()
a.detail("dhill")
a.show()

name:  dhill

In [22]:
#one private method call from public method

class school():
    def detail(self):
        self.name="abc school"
        print("school name: ",self.name)
    def __stu1(self):
        print("name : sk")
        print("age: 21")
    def stu2(self):
        self.__stu1()
        print("name: bk")
        print("age: 24")
s=school()
s.stu2()
s.stu1()  #it will not work becaus this is the private method

name : sk
age: 21
name: bk
age: 24

AttributeError: 'school' object has no attribute 'stu1'

In [24]:
#private method call from objects

#one private method call from public method

class school():
    def detail(self):
        self.name="abc school"
        print("school name: ",self.name)
    def __stu1(self):
        print("name : sk")
        print("age: 21")
    def stu2(self):
        print("name: bk")
        print("age: 24")
s=school()
s.stu2()
s._school__stu1() #it will accesson the private method on objects

s.stu1()  #it will not work becaus this is the private method

name: bk
age: 24
name : sk
age: 21

AttributeError: 'school' object has no attribute 'stu1'

In [27]:
#private attribute access on public method
class sc():
    __name="ABC school"
    
    def stu1(self):
        print("school name: ",ob.__name)
ob=sc()
ob.stu1()

school name:  ABC school

In [42]:
#private attribute access on public method
class sc():
    __name="ABC school"
    
    def __stu1(self):
        print("  1  school name: ",ob.__name)
    def stu2(self):
        self.__stu1()
        print("  2  school name: ",ob.__name)
        
ob=sc()
ob.stu2()
# ob.stu1()

  1  school name:  ABC school
  2  school name:  ABC school

# protected member ( _ )

In [45]:
class detail():
    _name="dhill"
    _roll=12343

    def display(self):
        print("name: ",self._name)
        print("roll: ",self._roll)
ob=detail()
ob.display()

name:  dhill
roll:  12343

# difference in public private and protected
#accessing the variable
    name    class      derived class    objects

1).public     yes            yes            yes
2).private    yes            no             no
3).protected  yes            yes            no

# setter and getter works


its normaly assign an value in variable inside the method(function) and retrive or ricive the value in another method (function)


@property  ==> for get method

@method_name.setter   ==>for setting the values in setter

In [34]:
class demo():
    def __init__(self):
        self._age=0
    @property  #get method calling
    def age(self):
        print("get method is called")
        return self._age
    
    @age.setter  #method_name.setter
    def age(self,a):
        if (a<18):
            print("you are below 18")
        print("setter method is called")
        self._age=a
ob=demo()
ob.age=16
print(ob.age)

you are below 18
setter method is called
get method is called
16

In [33]:
class demo():
    def __init__(self):
        self._age=0
    @property  #get method calling
    def age(self):
        print("get method is called")
        return self._age
    
    @age.setter  #method_name.setter
    def age(self,a):
        if (a<18):
            print("you are below 18")
        print("setter method is called")
        self._age=a
ob=demo()
ob.age=20
print(ob.age)

setter method is called
get method is called
20

# @ (decorater) ==> change the behaviors of the methods or functions

# function types
# 1). nested function
# 2). return function from another function
# 3). function as a reference

# 1).nested function

In [37]:
#nested function

def a():
    msg="hi this is "
    def b():
        msg2="thamarai"
        m=msg + msg2
        return m
    return b

ob=a()
print(ob())

hi this is thamarai

In [54]:
# see carefuly
#nested function

def outer():
    msg="hi this is "
    def inner():
        msg2="thamarai"
        m=msg + msg2
        return m
    return inner

ob=outer()
print(ob())

hi this is thamarai

In [55]:
def outer_variable(x):
    print(" outer_variable is", x)
    def inner_variable(y):
        print("inner_variable is ", y)
        return x+y
    return inner_variable
a=outer_variable(3)
inner=a(5)   #this directly put on nested function
            #"inner_variable"
print(inner)

 outer_variable is 3
inner_variable is  5
8

# 2). return function from another function ( passing function  a parameter )

In [69]:
def fun1():
    print("this is function 01")
def fun2(ref):  # use differnt word also "ref"
    ref()
    print("this is function 02")
print(fun1) #this is the memory address
fun2(fun1)

<function fun1 at 0x0000023DA18D6020>
this is function 01
this is function 02

In [73]:
def add(a,b):
    return a+b
def display(fun_name,a,b):
    return fun_name(a,b)
re=display(fun1,10,23)
print(re)
print(add)

33
<function add at 0x0000023DA199E340>

In [76]:
def up(text):
    return text.upper()
def lo(text):
    return text.lower()
def text(func):
    msg=func("happy birthdays")
    print(msg)

text(up)
text(lo)

HAPPY BIRTHDAYS
happy birthdays

# 3). function as a reference (return function as a value )

In [83]:
def greetig(name):
    def hello():
        return "hello "+name
    return hello
call=greetig("thamarai")
print(call())

hello thamarai

In [1]:
def upperstr(ref):
    def process():
        data=ref()
        return data.upper()
    return process
def lowerstr(ref):
    def process():
        data=ref()
        return data.lower()
    return process

def myfun():
    return "hAppY bIrthDaY"
fun=myfun()
print("original str  ",fun)

up=upperstr(myfun)
print("Ths is upper  ",up())

lo=lowerstr(myfun)
print("This is lower  ",lo())

original str   hAppY bIrthDaY
Ths is upper   HAPPY BIRTHDAY
This is lower   happy birthday

# Closure 

Python closure is a nested function that allows us to access variables of the outer function even after the outer function is closed.

In [2]:
def outer(x):
    def inner(y):
        return x+y
    return inner
re=outer(5)
inn=re(5)
print(inn)

10

# how to implement decorator and types of decorators

# types of decorators
(1. single Decorator 2).multiple Decorator)

1).function Decorator.
2).class Decorator.
3).method Decorator.

# 1).FUNCTION decorators
# 1. single Decorator 


@function_name

In [3]:
def upperstr(ref):
#     print("sdcjg",ref())
    def process():
        data=ref()
        return data.upper()
    return process
@upperstr #it passess the output of th myfun ans parameter into upperstr(ref)
def myfun():
    return "hAppY bIrthDaY"
print(myfun())
# up=upperstr(myfun)
# print("Ths is upper  ",up())

HAPPY BIRTHDAY

# 2).multiple Decorator

In [4]:
#without decorator
def de1(ref):
    def process1():
        data=ref()
        return data.upper()
    return process1

def de2(ref):
    def process2():
        data=ref()
        return data.split()
    return process2

def myfunction():
    return "hi thamarai"

re=de2(de1(myfunction))
print(re())

['HI', 'THAMARAI']

In [5]:
#with decorator
def de1(ref):
    def process1():
        data=ref()
        return data.upper()
    return process1

def de2(ref):
    def process2():
        data=ref()
        return data.split()
    return process2

@de2  #second access
@de1  #first access

def myfunction():
    return "hi thamarai"
print(myfunction())
# re=de2(de1(myfunction))
# print(re())

['HI', 'THAMARAI']

# decorator with parameter

@function_name(parameter)

In [6]:
def content(val):
    def de1(ref):
        def process1():
            data=ref()+ val  #note this
            return data.upper() 
        return process1
    return de1

@content(" content")  #decorator with parameter passing
def myfun():
    return "Happy Learning"
print(myfun())

HAPPY LEARNING CONTENT

In [ ]:
def content(val):
    def de1(ref):
        def process1():
            data=ref() + val  #note this
            return data.upper() 
        return process1
    return de1
a=input("enter a name: ")
@content(a)  #decorator with parameter passing
def myfun():
    return "Happy Learning"
print(myfun())

# Arithmatic in decorator

In [1]:
def fun(a,b):
    print(a/b)
fun(2,3)

0.6666666666666666

In [4]:
def fun(a,b):
    print(a/b)
fun(2,0)

ZeroDivisionError: division by zero

In [12]:
def divide_dec(func):
    def process(a,b):
        if b==0:
            return "plese enter number other than zero"
        return func(a,b)
    return process

@divide_dec
def divide(a,b):
    return a/b

print(divide(56,4))

14.0

# implement single decorator for a multiple function

In [28]:
def devide_deco(func):
    def process(*args):
        if 0 in args[1:]:
            return "plese enter number other than zero"
        return func(*args)
    return process

@devide_deco
def divide(a,b):
    return a/b
print(divide(10,2))

@devide_deco
def divide(a,b,c):
    return a/b/c
print(divide(10,2,2))

@devide_deco
def divide(a,b,c,d):
    return a/b/c/d
print(divide(10,2,2,4))

@devide_deco
def divide(a,b,c,d,e):
    return a/b/c/d/e
print(divide(10,2,2,4,0))

@devide_deco
def divide(a,b,c,d,e):
    return a/b/c/d/e
print(divide(0,2,2,4,10))

5.0
2.5
0.625
plese enter number other than zero
0.0

# implement class decorator

In [32]:
class example():
    def __init__(self):
        print("this is init")
    def __call__(self):
        print("this is call")
        
ob=example() # it will print  __init__
ob()  #it will print __call__

this is init
this is call

In [34]:
class example():
    def __init__(self):
        print("this is init")
    def __call__(self,a,b):
        print("this is call", a+b)
        print(a+b)
        
ob=example() # it will print  __init__
ob(10,2)  #it will print __call__

this is init
this is call 12
12

In [41]:
class example():
    def __init__(self):
        print("this is init")
    def __call__(self,a,b):
        print("this is call", a+b)
        print(a+b)
        
    def displey(self):
        print("this is display method")
        
ob=example() # it will print  __init__
ob(12,2)  #it will print __call__
ob.displey()
ob.__call__(12,41)  #it will also work

this is init
this is call 14
14
this is display method
this is call 53
53

In [43]:
 class MYdec():
        def __init__(self,fun):
            self.fun=fun
        def __call__(self):
            self.fun()
def fun():
    print("Happy Learming")
    
obj=MYdec(fun)
obj()

Happy Learming

In [44]:
 class MYdec():
        def __init__(self,fun):
            self.fun=fun
        def __call__(self):
            self.fun()
@MYdec
def fun():
    print("Happy Learming")
    
fun()

Happy Learming

# implement class decorator with return value

In [5]:
class demo():
    def __init__(self, fun):
        self.fun=fun
    def __call__(self,a,b):
        val=self.fun(a,b)
        return val
@demo
def multi(a,b):
    return a*b

print(multi(10,2))

20

In [2]:
class demo():
    def __init__(self, fun):
        self.fun=fun
        
    def __call__(self,*args, **kwargs):
        val=self.fun(*args,**kwargs)
@demo       
def fun(name,message="HELLO"):
    print("{}, {}".format(message, name))
fun("dhill")
fun("appu",message="hi")
fun("thiru","hi")

HELLO, dhill
hi, appu
hi, thiru

# implement user defined module
(use vs code for better understanding)


1). import file_name from function_name

(it will access single function)

or

2). inport file_name

or 

3). import file_name import *

(it will access all function)

# SPECIAL VARIABLES 
# what is --name-- and --main--

In [4]:
print(__name__)
# print(__main__)

__main__

In [6]:
def greet():
    print("Good Morning")
def message():
    print("have a nice day")
    
def main():
    greet()
    message()

if __name__=="__main__":
    main()
    
print(__name__)

Good Morning
have a nice day
__main__

# data abstractions 

before data abstraction we must know

1).what is modules 
2).importing modules
3).what is abstraction classes on abstract method
4).what is concrete method

# example of data abstraction

In [7]:
#normal class
class a():
    def method1(self):
        print("hi this is normal class style")
obj=a()
obj.method1()

hi this is normal class style

In [16]:
#abstact method
#abc ==> abstrct base class
#we use abstract method no chance for crete objects
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method(self):
        print("this is abstrct method")
ob1=a()
ob1.method()

TypeError: Can't instantiate abstract class a with abstract method method

In [21]:
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method(self):
        pass

    
#mose of time we dont use the method inside comnntent

In [25]:
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method1(self):
        pass
    
class b(a):
    def method1(self):
        print("this is b class")
        
ob=b()
ob.method1()

this is b class

In [27]:
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method1(self):
        print("this is a class")
    
class b(a):
    def method1(self):
        print("this is b class")
        
ob=b()
ob.method1()

#becaus this is overriddingg

this is b class

In [37]:
#inheritance method this time we will access
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method1(self):
        print("this is method1") #same method
    def method2(self):
        print("this is method2")
class b(a):
    def method1(self):
        print("this is method3")  #same method
ob=b()
ob.method1()
ob.method2()

this is method3
this is method2

In [43]:
#inheritance method this time we will access
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method1(self):
        print("this is method1") #same method
    @abstractmethod
    def method2(self):
        print("this is method2")
class b(a):
    def method1(self):
        print("this is method3")  #same method
    
ob=b()
ob.method1()
ob.method2()

# without method2

TypeError: Can't instantiate abstract class b with abstract method method2

In [45]:
#inheritance method this time we will access
from abc import ABC,abstractmethod

class a(ABC):
    @abstractmethod
    def method1(self):
        print("this is method1") #same method
    @abstractmethod
    def method2(self):
        print("this is method2")
        
# normalized classes clalled "congrete class"
class b(a):
    def method1(self):
        print("this is method3")  #same method
    def method2(self):
        print("this is method4")  #same method
ob=b()
ob.method1()
ob.method2()

# with method2

this is method3
this is method4

# variable types

1).instance variable

2).class or staatic variables

# 1).instance variable

In [3]:
class c():
    
    def a(self,a,b):
        self.a=a  #instance variable
        self.b=b   #instance variable
        print("Name: ",self.a)
        print("Roll No: ",self.b)
ob=c()
ob.a("dhill",21)

Name:  dhill
Roll No:  21

# 2).class or static variables

In [5]:
class detail():
    school_name="itvedant"  #class variable or static variable
    def __init__(self,name,no):
        self.name=name
        self.no=no
s1=detail("hari",21)
print(s1.name,s1.no,detail.school_name)

hari 21 itvedant

In [7]:
class detail():
    school_name="itvedant"  #class variable or static variable
    def __init__(self,name,no):
        self.name=name
        self.no=no
        print(detail.school_name)  #access in class variable inside function
s1=detail("hari",21)
print(s1.name,s1.no,detail.school_name)

itvedant
hari 21 itvedant

In [10]:
class detail():
    school_name="itvedant"  #class variable or static variable
    def __init__(self,name,no):
        self.name=name
        self.no=no
        print(detail.school_name)  #access in class variable inside function
detail.school_name="DSHSS" #change class variable value
s1=detail("hari",21)
print(s1.name,s1.no,detail.school_name)

DSHSS
hari 21 DSHSS

# Class variables are defined within the class but outside of any class methods. Instance variables are defined within class methods, typically the constructor. Changes made to the class variable affect all instances. Changes made to the instance variable does not affect all instances

# types of methods

1).instance method

2).class ethod

3).static method

# example of 1).instance method

In [13]:
class demo():
    def method1(self):  #instaance
        print("this is instance method")
ob=demo()
ob.method1()

this is instance method

In [15]:
class demo():
    def method1(self):   #instaance
        print("this is instance method")
ob=demo()
demo.method1(ob)

this is instance method

In [16]:
class demo():
    def method1(self,a,b):   #instaance
        print("this is instance method")
        print(a*b)
        print(a+b)
ob=demo()
ob.method1(10,2)

this is instance method
20
12

# example of 2).class method

In [24]:
class demo():
    def stu1(self):
        print("this is stu1")
    @classmethod   #class method
    def stu2(cls):  #we must use cls in instance
        print("this is stu2")
ob=demo()
ob.stu1()
ob.stu2()
demo.stu2()
# demo.stu1()  #it will not work

this is stu1
this is stu2
this is stu2

In [26]:
class demo():
    var="itvedannt"  #see this 
    def stu1(self):
        print("this is stu1")
    @classmethod   #class method
    def stu2(cls):  #we must use cls in instance
        print("this is stu2")
        print(cls.var) # See this
ob=demo()
ob.stu1()
ob.stu2()
demo.stu2()
# demo.stu1()  #it will not work

this is stu1
this is stu2
itvedannt
this is stu2
itvedannt

# example of 3).static method

In [29]:
class demo():
    @staticmethod
    def sample(): #without instance
        print("this is static method")
on=demo()
on.sample()

demo.sample()

this is static method
this is static method

# combination of static and class method

In [38]:
class Myclass():
    
    def method1(self):
        print("this isnmethod 01")
        
    @classmethod
    def method2(cls):
        print("this is metjod 02 in classmethod")
    
    @staticmethod
    def method3():
        print("this is method 03 and static")
        
ob=Myclass()
ob.method1()
ob.method2()
ob.method3()
# Myclass.method1()  #it will not work
Myclass.method2() #this is class method so it will run
Myclass.method3()  #it will work so this is static method

this isnmethod 01
this is metjod 02 in classmethod
this is method 03 and static
this is metjod 02 in classmethod
this is method 03 and static

# iterators

In [39]:
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [45]:
l=[1,2,3,4,5]
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])

1
2
3
4
5

In [40]:
l=[1,2,3,4,5]  #list
for i in l:
    print(i)

1
2
3
4
5

In [46]:
l={1,2,3,4,5} #set
for i in l:
    print(i)

1
2
3
4
5

In [47]:
li=["tts","lotus",4,3,7,45,"dhill"]
i=0
while i<len(li):
    print(li[i])
    i+=1

tts
lotus
4
3
7
45
dhill

In [48]:
li={"tts","lotus",4,3,7,45,"dhill"}
i=0
while i<len(li):
    print(li[i])
    i+=1

TypeError: 'set' object is not subscriptable

# iter    and    next

In [58]:
lli=["tts","lotus",4,3,7,45,"dhill"]
iter(lli)

In [60]:
lli=["tts","lotus",4,3,7,45,"dhill"]
a=iter(lli)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(a.__next__())  #do same work

tts
lotus
4
3
7
45
dhill

# user define iterators

In [61]:
def loop(val):
    it=iter(val)
    while True:
        try:
            item=next(it)
        except StopIteration:
            break
        else:
            print(item)
loop([12,34,57])

12
34
57

In [65]:
class ten():
    def __init__(self):
        self.num=1
    def __iter__(self):
        return self
    def __next__(self):
        if self.num<=10:
            val=self.num
            self.num+=1
            return val
        else:
            raise StopIteration
on=ten()

for i in on:
    print(i)

1
2
3
4
5
6
7
8
9
10

# generator

yield

In [1]:
def num():
    return 5
num()

5

In [12]:
def n():
    yield 5
    yield 3
    yield 4
    yield 6
    yield 7
b=n()
# print(b.__next__())
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))

5
3
4
6
7

In [13]:
def n():
    yield 5
    yield 3
    yield 4
    yield 6
    yield 7
b=n()
# print(next(b))
print(b.__next__())
print(b.__next__())
print(b.__next__())
print(b.__next__())
print(b.__next__())

5
3
4
6
7

In [14]:
def n():
    yield 5
    yield 3
    yield 4
    yield 6
    yield 7
b=n()

for i in b:
    print(i)

5
3
4
6
7

In [15]:
def n():
    yield 5
    yield 3
    yield 4
    yield 6
    yield 7
# b=n()

for i in n():
    print(i)

5
3
4
6
7

In [9]:
def multi_yield():
    strl = "First String"
    yield strl
    
    str2 = "Second string"
    yield str2
    
    str3 = "Third String"
    yield str3
    
obj =multi_yield()
print(next(obj))
print (next(obj))
print (next (obj))

First String
Second string
Third String

# immplement generator with an example

In [2]:
def single():
    for i in range(10):
        if (i%2==0):
            yield i
for i in single():
    print(i)

0
2
4
6
8

In [3]:
def ten():
    n=1
    while n<=10:
        sq=n
        yield sq
        n=n+1
for i in ten():
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
def ten():
    n=1
    while n<=10:
        sq=n
        yield sq
        n=n+1
        
ob=ten()
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())
print(ob.__next__())

1
2
3
4
5
6
7
8
9
10

In [9]:
def ten():
    n=1
    while n<=10:
        sq=n*n
        yield sq
        n=n+1
on1=ten()

for i in ten():
    print(i)

1
4
9
16
25
36
49
64
81
100

In [1]:
# Fibbonic series 

def fibo(max):
    a,b=0,1
    while True:
        c=a+b
        if c<=max:
            yield c
            a=b
            b=c
        else:
            break

ob2=fibo(10)

for i in ob2:
    print(i)

1
2
3
5
8

# lambda function

In [4]:
#normmal one
def name():
    print("hello")
name()

def name1():
    print("worls !")
name1()

hello
worls !

In [18]:
#lambda function

mess=lambda:print("hello")
mess()

hello

In [8]:
mess1=lambda a:print(a)
mess1(21)

21

In [17]:
mess1=lambda a,b,c: (a if a>b else c)
mess1(21,34,32)

32

In [22]:
mess2=lambda a:print(a+10)
mess=lambda a:a+10
print(mess(15))
mess2(10)
ans=mess(3)
print(ans)

25
20
13

In [27]:
str1="ThAmArAiSeLvAn"
upp=lambda string: string.upper()
low=lambda string: string.lower()
length=lambda string: len(string)
print(upp(str1))
print(low(str1))
print(length(str1))

THAMARAISELVAN
thamaraiselvan
14

In [29]:
def cube(n):
    return n**3
print("Normal Function , Cube: ", cube(5))

lam_cube=lambda n:n**3
print("Using Lambda Function , cube: ", lam_cube(5))

Normal Function , Cube:  125
Using Lambda Function , cube:  125

# use lambda function in user defined and high order functions

In [4]:
a=lambda a,b=10,c=30: a+b+c
print(a(10))

ba=lambda a,b=10,c=30: a+b+c
print(ba(10,20))

50
60

In [21]:
# *args

add =lambda *args1 : sum(args1)
print(add(10,20,30,40,50,60))

# **kwrags

add1 = lambda *args,**kwargs: sum(args)+sum(kwargs.values())
print(add1(50,a=10, b=20))

210
80

In [29]:
# life immediately invoked function expression
# defined and executed immediately

(lambda a,b:a+b)(10,20)
# (lambda c,d:c*d)(10,20)

30

In [31]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[]

for l in l1:
    temp=lambda l:l**2
    l2.append(temp(l))
    
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
# lambda with user defined funcion

def a(x):
    return lambda y:x+y
t=a(4)
print(t(20))

24

In [37]:
# lambda with higher oredr function
# a function in python with another as an argument or returnsa functions as an output

high_order=lambda x,fun:x+fun(x)

result=high_order(20,lambda x:x*x)
# x=20   and fun=lambda x:x*x(400)
print(result)

420

# map function map()

In [38]:
# normal one without map function

def add(n):
    return n*n
num=(1,2,3,4,5,6,7,8,9,10,11,12,13)
result=[]

for n in num:
    result.append(add(n))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [42]:
# with map function

def add(n):
    return n*n
num=(1,2,3,4,5,6,7,8,9,10,11,12,13)
result=map(add,num)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [46]:
# using lambda
num=(1,2,3,4,5,6,7,8,9,10)
result=map(lambda x:x*x,num)
print(list(result))

num2=[1,2,3,4,5,6,7,8,9,10]
result2=list(map(lambda x:x*x,num2))
print(result2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
num1=(1,2,3,4,5,6,7,8,9,10)
num2=(10,9,8,7,6,5,4,3,2,1)
result=list(map(lambda x,y:x+y, num1,num2))
print(result)

[11, 11, 11, 11, 11, 11, 11, 11, 11, 11]

In [58]:
num1=(1,2,3,4,5,6,7,8,9,10)
num2=(10,9,8,7,6,5,4,3,2,1)
num3=(1,1,1,1,1,1,1,1,1,1)

result=list(map(lambda x,y,c:x+y-c, num1,num2,num3))
print(result)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [74]:
def even(num):
    if num%2==0:
        return "even"
    else:
        return "odd"
    
number=[1,2,3,4,5,6,7,8,9]
result=list(map(even,number))
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [79]:
number=[1,2,3,4,5,6,7,8,9]
result=list(map(lambda x: x%2==0,number))
print(result)

[False, True, False, True, False, True, False, True, False]

In [82]:
number=[1,2,3,4,5,6,7,8,9]
result=list(map(lambda x: "Even" if x%2==0 else "odd" ,number))
print(result)

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

# Filter function filter()

In [8]:
# normal function
## it will work on bool (True and False)
def even(num):
    if num%2==0:
        return True
    else:
        False
        
num=[1,2,3,4,5,6,7,8,9]
fill=filter(even,num)
print(list(fill))
print((fill))

[2, 4, 6, 8]
<filter object at 0x000001ABE61A4F40>

In [18]:
age=[12,34,65,12,11,65,33,24,13]

def fun(x):
    if x>=18:
        return True
    else:
        return False
    
adults=filter(fun,age)

for x in adults:
    print ((x))

34
65
65
33
24

In [19]:
seq=[0,1,2,3,4,5,6,7,8,9,10]

result=filter(lambda x: x%2!=0,seq)
print(list(result))
result=filter(lambda x: x%2==0,seq)
print(list(result))

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 10]

In [21]:
result=filter(lambda x: x%2!=0,range(1,11))
print(list(result))
result=filter(lambda x: x%2==0,range(1,11))
print(list(result))

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [22]:
def mul_of_3(num):
    return num%3==0

number=[1,2,3,4,5,6,7,7,8,9,0]

result=list(filter(lambda  x:mul_of_3(x),number))
print(result)

[3, 6, 9, 0]

# reduce function reduce()

IT IS NOT USED FOR DIRECTLY USE SOME IMPORT 

step to follow:

import

print()

output should be single

In [4]:
import functools

num=[1,2,3,4,5]
def fun(a,b):
    return a+b
print(functools.reduce(fun,num))

# 1+2+3+4+5

15

In [1]:
# lambda

import functools

n=[1,2,3,4,5]

print(functools.reduce(lambda a,b: a+b, n))

15

In [8]:
import functools

num=[1,2,3,4,5]
num1=[1,2,3,4,5]

print(functools.reduce(lambda a,b: a+b, num,num1))

#because we can use only single iterable

TypeError: can only concatenate list (not "int") to list

In [19]:
import functools

num=[1,2,3,4,5]
def maxi(a,b):
    if a>b:
        return a
    else:
        return b
    
print(functools.reduce(maxi,num))

# print(dir(functools))

5

# operator() and accumulate() function

In [35]:
# operator () like +,-,/,*

import functools
import operator

lis=[1,2,3,5,4,6,7]
print("the sum of the list is: ",end="")
print(functools.reduce(operator.add,lis))

print("the concat of the list is: ",end="")
print(functools.reduce(operator.concat,['happy', 'learning']))

print("the multiply of the list is: ",end="")
print(functools.reduce(operator.mul,lis))

print("the multiply of the list is: ",end="")
print(functools.reduce(operator.mul,[1,2,3,4,5]))

the sum of the list is: 28
the concat of the list is: happylearning
the multiply of the list is: 5040
the multiply of the list is: 120

In [43]:
# accumulate()

import itertools

# reduce()
import functools

lis=[1,2,3,4,6,7,5,4]

#accumulate method
print(list(itertools.accumulate(lis,lambda x,y:x+y)))
print(list(itertools.accumulate(lis,lambda x,y:x-y)))
print(list(itertools.accumulate(lis,lambda x,y:x*y)))
print(list(itertools.accumulate(lis,lambda x,y:x/y)))
#reduce method
print(functools.reduce(lambda x,y:x+y,lis))

[1, 3, 6, 10, 16, 23, 28, 32]
[1, -1, -4, -8, -14, -21, -26, -30]
[1, 2, 6, 24, 144, 1008, 5040, 20160]
[1, 0.5, 0.16666666666666666, 0.041666666666666664, 0.006944444444444444, 0.000992063492063492, 0.0001984126984126984, 4.96031746031746e-05]
32

# list comprehansion

In [44]:
#normal list

l=[1,"eee",34]
print(l)

[1, 'eee', 34]

In [45]:
le=[]
for x in "thamarai":
    le.append(x)
    
print(le)

['t', 'h', 'a', 'm', 'a', 'r', 'a', 'i']

In [47]:
# list comprehanssion
l=[c for c in "thamaraiselvan"]
print(l)

['t', 'h', 'a', 'm', 'a', 'r', 'a', 'i', 's', 'e', 'l', 'v', 'a', 'n']

In [49]:
#range
li=[i for i in range(10)]
li1=[i for i in range(1,30)]
print(li)
print(li1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [2]:
li=[i for i in range(1,50) if i%2==0]
li2=[i for i in range(1,50) if i%2!=0]
print(li)
print(li2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [3]:
li=[i for i in range(1,50) if i%2==0 if i%4==0]
li2=[i for i in range(1,50) if i%2!=0 if i%4!=0]
print(li)
print(li2)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [8]:
print([x if x>4 else x+1 for x in range(1,11)])
print(["even" if x%2==0 else "odd" for x in range(1,30)])

[2, 3, 4, 5, 5, 6, 7, 8, 9, 10]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

:

# use list comprehension using with function and nested list