In [2]:
import pandas as pd

In [3]:
#series
#int ,float,list,dict,tuples

x=[1,2,3,4,5]
df=pd.Series(x)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
x=(1,2,3,4,5)
df=pd.Series(x)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
x={1:"a",2:"b",3:"c",4:"d",5:"e"}
df=pd.Series(x)
print(df)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [21]:
data={
    "id":[1,2,3],
    "stuname":["a","b","c"],
    "feedback":["good","bad","wow"]
}
df=pd.DataFrame(data)
print(df)

   id stuname feedback
0   1       a     good
1   2       b      bad
2   3       c      wow

In [29]:
from collections import Counter
my_list=["apple",1,3,4,"panda",12.4,23.5,True,False,None]

result=Counter(map(type,my_list))
for datatype,count  in result.items():
    print(f"{datatype} : {count}")

<class 'str'> : 2
<class 'int'> : 3
<class 'float'> : 2
<class 'bool'> : 2
<class 'NoneType'> : 1

In [9]:
num=int(input("enter a number: "))
result=[i for i in range(2,num+1) if num%i!=0]
print(result)

enter a number: 10
[3, 4, 6, 7, 8, 9]

In [1]:
val=int(input("enter tha your mark"))

result=(val/600)*100
print(result)

enter tha your mark414
69.0