# While loop

In [1]:
#SUM OF NUMBERS

a=int(input("Enter the number :"))

sum=0
i=1
while (i<=a):
    sum=sum+i
    i=i+1
print(sum)

In [3]:
# palidrome

num=int(input("enter: "))

rev=0
temp=num

while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)
if temp==rev:
    print("palindrome")
else:
    print("not palindrome")

enter: 123
321
not palindrome

In [7]:
# aramstrong number 

num=int(input("ennter :"))
sum=0
temp=num
while num>0:
    rem=num%10
    sum=sum+rem*rem*rem
    num=num//10
if temp==sum:
    print("armstrong")
else:
    print("not armstrong")

ennter :153
armstrong

In [9]:
#PRINT FIRST 10 NUMBER

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
# print even 

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [12]:
# print odd 

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [15]:
# even nuumbers in reversed order
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [29]:
# table of number
num1=int(input("enter a number: "))

for n in range(1,11):
    sum=num1*n
    print(f"{n} x {num1} ={sum}")

enter a number: 5
1 x 5 =5
2 x 5 =10
3 x 5 =15
4 x 5 =20
5 x 5 =25
6 x 5 =30
7 x 5 =35
8 x 5 =40
9 x 5 =45
10 x 5 =50

In [4]:
# product of a digit
num=int(input("Enter a digit: "))
n=num
product=1

while n!=0:
    rem=n%10
    product =product*rem
    n=n//10
print(product)

Enter a digit: 43
12

In [46]:
# factorial of a number

def fact(x):
    if x==0 or x==1:
        return 1
    else:
        return(x*fact(x-1)) 
        
res=fact(int(input("enter a number: ")))
print(res)

enter a number: 5
120

In [48]:
# average of a num

n=int(input("Enter a number: "))

avg=n/2
print(avg)

Enter a number: 10
5.0

In [51]:
#sum of even and odd number
even=0
odd=0
for i in range(1,50):
    if i%2==0:
        even=even+i
    elif i%2!=0:
        odd=odd+i
print("total even number is: ",even)
print("total odd number is: ",odd)

total even number is:  600
total odd number is:  625

In [62]:
for i in range(100, 501):
    if i%11==0 and i%2!=0:
        print(i,end=" ")

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [1]:
# list method

#append

a=[12,45,"sasd",354]

a.append(100)
a.append("happy")
print(a)

[12, 45, 'sasd', 354, 100, 'happy']

In [2]:
a=[12,34,"asjd",33]
b=[23,11,"aadg",233]

a.extend(b)
print(a)

[12, 34, 'asjd', 33, 23, 11, 'aadg', 233]

In [12]:
a=[12,34,"asjd",33]
b=a.copy()
print(id(a))
print(id(b))
print(id(a) is id(b))

2586335732736
2586335545728
False

In [23]:
#sort
a=[12,34,33]
a.sort()
print(a)

[12, 33, 34]

In [26]:
#reverse
a=[12,43,54,23,75,3,7,4]
a.reverse()
print(a)
print(a[::-1])

[4, 7, 3, 75, 23, 54, 43, 12]
[12, 43, 54, 23, 75, 3, 7, 4]

In [28]:
# print desending order
a=[12,43,54,23,75,3,7,4]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[3, 4, 7, 12, 23, 43, 54, 75]
[75, 54, 43, 23, 12, 7, 4, 3]

In [29]:
#inser(index,value)

a=[12,34,57,78]
a.insert(0,10)
a.insert(1,20)
print(a)

[10, 20, 12, 34, 57, 78]

In [30]:
#count(object)

a=[12,12,12,12,34,57,78]
b=a.count(12)
print(b)

4

In [42]:
#pop
a=[12,12,12,12,34,57,78]
b=a.pop(2)  #using index
c=a.pop()
print(b)
print(c)

12
78

In [43]:
#remove(object)

a=[12,12,12,12,34,57,78]
a.remove(12)
print(a)

[12, 12, 12, 34, 57, 78]

In [62]:
a=[100,20,50,60]
print(a.index(50))
# print(a.index(200))
# print(a.index(20,0,3))
# print(a.index(50))
# a.remove(50)
# print(a)
# print(a.index(300))
# print(a.pop(5))

2

In [63]:
#update in without build in method

a=[12,34,54]
print(a)
a[0]=100
print(a)

[12, 34, 54]
[100, 34, 54]

In [75]:
#update multiple element without built in method

a=[12,34,54]
print(a)
a[0:1]=100,200
print(a)

[12, 34, 54]
[100, 200, 34, 54]

In [80]:
# python program for 

# i/p : [10,20,30,50,100,20,10]
# o/p : [10,20,30,50,100]

a=[10,20,30,50,100,20,10]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 20, 30, 50, 100]

In [84]:
b=[]
def dupp(a):
    for i in a:
        if i not in b:
            b.append(i)
a=[10,20,30,50,100,20,10]
dupp(a) 
print(b)

[10, 20, 30, 50, 100]

In [ ]:
c=[for i in ]

In [11]:
#list compresion


# normal method

# for i in range(0,100):
#     if i %2==0:
#         print(i)
        
        
        
        
# comprehsion method

res=[i for i in range(0,100) if i%2==0]
print(res)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [13]:
#normal stringg
a1=['appu','dhill','amma','appa']
for i in a1:
    if "a" in i:
        print(i)



# string in list comprehionn
a=['appu','dhill','amma','appa']

res=[i for i in a if "a" in i]
print(res)

appu
amma
appa
['appu', 'amma', 'appa']

In [18]:

# normal one
a=[12,34,545,"asgsc","asagsd",123]
for i in a:
    if i==12:
        print(i)
        
#list comprehension with if condition

res=[i for i in a if i==12]
print(res)

12
[12]

In [33]:
# nested if

a=[10,20,30,40,50]

for i in a:
    if i%2==0:
        if i%3==0:
            print(i)
        
# list  comprehansion

res=[i for i in a if i%2==0 if i%3==0]
print(res)

30
[30]

In [41]:
#if else

a=[10,20,30,40,50]
for i in a:
    if i%2==0:
        print("even numbers",i)
    else:
        print("odd number",i)
        
#list comprehension

res=[ "even" if i%2==0 else "odd" for i in a]
print(res)

even numbers 10
even numbers 20
even numbers 30
even numbers 40
even numbers 50
['even', 'even', 'even', 'even', 'even']

In [43]:
# nested for loop
for i in range(1,3):
    for j in range(1,3):
        print(i*j)
        
# list comprehension

res=[i*j for i in range (1,3) for j in range(1,3)]
print(res)

1
2
2
4
[1, 2, 2, 4]

In [47]:
# for i in range(1,11):
#     for j in range(1,11):
#         print(i*j)
        
        
res=[f"{i} X {j} = {i*j}" for i in range(1,11) for j in range(1,11)]
print(res)

['1 X 1 = 1', '1 X 2 = 2', '1 X 3 = 3', '1 X 4 = 4', '1 X 5 = 5', '1 X 6 = 6', '1 X 7 = 7', '1 X 8 = 8', '1 X 9 = 9', '1 X 10 = 10', '2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '2 X 10 = 20', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '3 X 10 = 30', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '4 X 10 = 40', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '5 X 10 = 50', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '6 X 10 = 60', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '7 X 10 = 70', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '8 X 10 = 80', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81', '9 X 10 = 90', '10 X 1 = 10', '10 X 2 = 20', '10 X 3 = 30', '10 X 4 = 40', '10 X 5 = 50', '10 X 6 = 60', '10 X 7 = 70', '10 X 8 = 80', '10 X 9 = 90', '10 X 10 = 100']

In [52]:
#flatten list

li=[[1,2,3],[4,5,6]]
# li=((1,2,3),(4,5,6))
for i in li:
    for j in i:
        print(j)
        
#list comprehenssion

res=[j for i in li for j in i]
print(res)

1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]

In [54]:
MyList = [[i] for i in range(5)]
print(MyList)

[[0], [1], [2], [3], [4]]

In [60]:
# Nested list comprehension
li=[[1,2,3,4,6],[8,6,4,356,3]]
matrix = [j for i in li for j in i]
 
print(matrix)

[1, 2, 3, 4, 6, 8, 6, 4, 356, 3]

# set

In [10]:
# add a list of element to a sit

s=set()
# dir(set)
s.add(1)
print(s)

{1}